body{
  font-family:'Arial Narrow Bold';
  background: #66a0ff;
}
#top-header{

  width:100%; 
  height: 100px; 
  text-align:center; 
  background-color: white;
}

#heading{

  padding:15px;

}

#browsing{
  
  font-family:Arial;
}